<div class="container" style="margin-top: 40px;">
  <div class="card" style="width: 18rem;">
    
    <div class="card-body">
      <div class="row">
        <div class="col-4" style="text-align: center;">
          <img [src]="user.avatar" class="card-img-top" [alt]="user.first_name">
          <h5 class="card-title">{{user.first_name}}</h5>
        </div>
        <div class="col-8">
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui velit nobis harum quod, eaque sequi suscipit animi aut facilis iusto error dolorem ut explicabo, esse in sit, deserunt nesciunt magnam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, pariatur! Sit vitae odit sint, voluptate cum esse veritatis ipsum unde autem dolor. Non aperiam, consequuntur rem a soluta nesciunt ducimus?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem dolor placeat voluptatem? Distinctio totam minus, mollitia enim repellendus inventore perspiciatis nulla, aliquid quo deleniti est, autem ullam dolor. Dolor, architecto.</p>
          <a href="#" class="btn btn-primary">User List</a>
        </div>
      </div>
    </div>
  </div>
</div>
